In [ ]:
import pandas as pd

# Lê o arquivo CSV da loja usando ponto e vírgula como separador
vendas = pd.read_csv('vendas_loja.csv', sep=';')
vendas

# Criação de colunas calculadas
vendas['ValorDaVenda'] = (vendas['preco']) * (vendas['quantidade'])      # Calcula o valor total da venda (preço × quantidade)
vendas['ValorDoCusto'] = (vendas['custo']) * (vendas['quantidade'])      # Calcula o custo total do produto
vendas['ValorDoLucro'] = (vendas['ValorDaVenda']) - (vendas['ValorDoCusto'])  # Lucro = venda – custo

# Valores totais de Venda, Custo e Lucro
tot_vendas = sum(vendas['ValorDaVenda'])                                 # Soma de todas as vendas feitas
tot_custo = sum(vendas['ValorDoCusto'])                                  # Soma de todos os custos
tot_lucro = sum(vendas['ValorDaVenda']) - (sum(vendas['ValorDoCusto']))  # Lucro total = total vendas – total custos

# Total de produtos vendidos (quantidade total)
total_qnt = sum(vendas['quantidade'])                                    # Soma generalizada da coluna de quantidades

# DataFrame por ordem de produtos mais vendidos
vendas.groupby('produto')['quantidade'].sum().sort_values(ascending=False).reset_index()  
# Agrupa por produto, soma as quantidades, ordena do maior para o menor

# DataFrame por ordem de produtos mais lucrativos
vendas.groupby('produto')['ValorDoLucro'].sum().sort_values(ascending=False).reset_index()
# Agrupa por produto, soma o lucro e ordena do maior lucro para o menor

# DataFrame por categoria mais lucrativa
vendas.groupby('categoria')['ValorDoLucro'].sum().sort_values(ascending=False).reset_index()

# Agrupa por categoria e ordena pelas mais lucrativas
# Conversão da coluna de data e criação do nome do mês
vendas['data_venda'] = pd.to_datetime(vendas['data_venda'])               # Converte a string de data em formato datetime
vendas['mes'] = vendas['data_venda'].dt.month_name(locale='pt_BR')        # Extrai o nome do mês em português
vendas

# Agrupa os lucros por mês (sem ordenar ainda)
lucro_mensal = vendas.groupby('mes')[['ValorDoLucro']].sum()  # Soma o lucro de cada mês
evolucao_mensal_lucro = lucro_mensal.sort_values(by='mes', ascending=True)  # Ordena alfabeticamente
evolucao_mensal_lucro

# Salva o arquivo final com todas as colunas e análises criadas
vendas.to_csv('01_projeto.csv', index=False, sep=';')

,id_venda,produto,categoria,preco,custo,quantidade,data_venda,ValorDaVenda,ValorDoCusto,ValorDoLucro,mes
0,1,Meia,Roupas,12.98,6.04,2,2025-01-01,25.96,12.08,13.88,January
1,2,Boné,Acessórios,21.45,12.14,2,2025-01-02,42.90,24.28,18.62,January
2,3,Bermuda,Roupas,101.18,62.18,4,2025-01-03,404.72,248.72,156.00,January
3,4,Carteira,Acessórios,233.08,107.60,4,2025-01-04,932.32,430.40,501.92,January
4,5,Bolsa,Acessórios,210.45,120.43,1,2025-01-05,210.45,120.43,90.02,January
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Bermuda,Roupas,79.47,36.80,1,2025-04-06,79.47,36.80,42.67,April
96,97,Carteira,Acessórios,157.80,87.72,5,2025-04-07,789.00,438.60,350.40,April
97,98,Calça,Roupas,149.21,88.94,1,2025-04-08,149.21,88.94,60.27,April
98,99,Cinto,Acessórios,30.25,18.67,3,2025-04-09,90.75,56.01,34.74,April
99,100,Chinelo,Calçados,42.34,32.25,2,2025-04-10,84.68,64.50,20.18,April